---
import Rating from "../SVG/Rating.astro";
import Configuration from "../SVG/Configuration.astro";
import Interrogation from "../SVG/Interrogation.astro";
import Btn from "../react/Btn";
---

<header class="flex justify-center w-full bg-[#fff]">
  <div
    class="flex items-center h-[51px] gap-[14px] border-b-[1px] border-[#d3d6da]">
    <a class="fill-[#878a8c]" href="/rules">
      <Interrogation />
    </a>

    <h1
      class="font-bold text-3xl tracking-widest uppercase pr-[38px] pl-[50px]">
      Wordel Color
    </h1>

    <Btn alert={1} client:load>
      <Rating />
    </Btn>

    <Btn alert={2} client:load>
      <Configuration />
    </Btn>
  </div>
</header>
